<p id="notice"><%= notice %></p>

<div>
  <h1 class='text-center'><%= @movie.title %></h1>
</div>
<hr>
<div class='col-md-2'>
  <%= image_tag @movie.image_url %>
</div>

<div class='col-md-5'>
  <p>
    <strong>Synopsis:</strong>
    <%= @movie.synopsis %>
  </p>
</div>

<div class='col-md-5'>
  <p>
    <strong>Hotness:</strong>
    <%= @movie.hotness %>%
  </p>
  <p>
    <strong>Rating:</strong>
    <%= @movie.rating %>
  </p>
  <p>
    <strong>Genre:</strong>
    <%= @movie.genre %>
  </p>
  <p>
    <strong>Director:</strong>
    <%= @movie.director %>
  </p>
  <p>
    <strong>Release date:</strong>
    <%= @movie.release_date %>
  </p>
  <p>
    <strong>Runtime:</strong>
    <%= @movie.runtime %>
  </p>
  <p><%= link_to 'Already watched?', @movie, method: :delete, data: { confirm: 'Are you sure you want to remove this movie?' } %></p>
</div>


